# AviationStack API Configuration
AVIATIONSTACK_API_KEY=your_api_key_here

# MongoDB Configuration
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_USERNAME=your_mongo_username
MONGO_PASSWORD=your_mongo_password
MONGO_DB=aviationstack
MONGO_COLLECTION=flights
